/* Restaurant container */

.restaurant-card-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-top: 1px solid lightgrey;
    min-width: 530px;
}

.restaurant-card-container:hover {
    cursor:pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.restaurant-card-img {
    width: 200px;
    height: 200px;
}

/* Restaurant info container */
.index-restaurant-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    justify-content: space-evenly;
}


.index-category-list {
    display: flex;
}

.index-restaurant-category {
    border: 1px solid lightgrey;
    background-color: #eeeeef;
    padding: 5px;
    border-radius: 5px;
}

.index-restaurant-price{
    margin-left: 1vw;
    border: 1px solid lightgrey;
    background-color: #eeeeef;
    padding: 5px;
    border-radius: 5px;
}

.index-restaurant-name {
    font-size: 20px;
    font-weight: bold;
}

.index-restaurant-review {
    display: flex;
}

.index-review-preview {
    margin-left: 1vw;
}
