/* basic grid structure for photots */
.photos-main-container {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.photo-grid > img[alt="restaurant-images"] {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.header-and-add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo-delete-icon {
    position: relative;
    z-index: 1;
    background-color: white;
    bottom: 340px;
    left: 320px;
    border-radius: 4px;
}
