/* Main container for Single Restaurant */
/* .single-card-main-container {

} */


/* Img Banner */
.banner-container {
    display: flex;
    justify-content: center;
    /* to get the overlay at the bottom */
    align-items: flex-end;
}

.single-img-banner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 425px;
    position: relative;
}

/* Info Overlay */
.info-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}
