/* Profile Dropdown */
.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3.5vw;
  top: 85px;
  z-index: 1;
  border: 1px solid lightgrey;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 200px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.profile-dropdown > div {
  margin: 1vw;
  padding: 10px;
}

.profile-dropdown > div:hover {
  background-color: #eeeeef;
  border-radius: 4px;
}

/* Navigation - container */

.nav-bar-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center
}


/* Login - Signup - Container */
.login-signup-container {
  display: flex;
  flex-direction: row;
}

.login-button {
  padding: 1vw;
}

.signup-button {
  padding: 1vw;
}


/* Create Restaurant - Create Review Container */
.create-main-container {
  display: flex;
  flex-direction: row;
}

.nav-create-restaurant-button {
  padding: 1vw;
  cursor: pointer;
}

/* .create-review-button {
  padding: 1vw;
} */

.nav-list-all-restaurants {
  padding: 1vw;
  cursor: pointer;
}

.nav-list-all-restaurants:hover,
.nav-create-restaurant-button:hover {
  background-color: #eeeeef;
  border-radius: 4px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

/* Profile Button CSS */
.nav-profile-user-img {
  width: 30px;
  height: 30px;
  padding: 1vw;
  cursor: pointer;
}
