/* Navigation - container */

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3vw;
  top: 75px;
  z-index: 1;
}

.hidden {
  display: none;
}

.nav-bar-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav-container {
  display: flex;
  flex-direction: row;
}


/* Login - Signup - Container */
.login-signup-container {
  display: flex;
  flex-direction: row;
}

.login-button {
  padding: 1vw;
}

.signup-button {
  padding: 1vw;
}


/* Create Restaurant - Create Review Container */
.create-main-container {
  display: flex;
  flex-direction: row;
}

.create-restaurant-button {
  padding: 1vw;
}

.create-review-button {
  padding: 1vw;
}

.list-all-restaurants {
  padding: 1vw;
}
