/* Left restaurant container */

.main-container {
    display: flex;
    flex-direction: row;
    /* By setting flex: 1 on a flex item, you are essentially telling it to grow and shrink
    equally with other items and initially take up an equal share of the available space. */
    flex: 1;
}

/* Right map container */

.index-map-img {
    width: max-content;
}
